<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [opened]="isOpen()" [mode]="'side'" class="sidenav">
    <div class="sidenav-header">
      <mat-icon class="logo-icon">dashboard</mat-icon>
      <span class="logo-text">Dashboard</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.label) {
        <mat-list-item
          [class.active]="activeRoute() === item.route"
          (click)="navigate(item.route)"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>