@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  @include mat.all-component-themes($theme);
}

.mat-drawer {
  z-index: 1 !important;
}

.mat-drawer-backdrop {
  z-index: 1 !important;
}